@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes wave-animation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.wave {
  animation: wave-animation 4s ease-in-out infinite;
}

@keyframes gapAnimation {
  0%, 100% { gap: 2.1px; }
  50% { gap: 6.1px; }
}

.animate-gap {
  animation: gapAnimation 30s infinite ease-in-out;
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal-hover-indigo:hover {
  background-color: rgba(79, 70, 229, 0.1); /* Indigo with opacity */
}


/* globals.css */

@layer base {
  :root {
    --font-workbench: 'Workbench', system-ui;
  }
}

.font-workbench {
  font-family: var(--font-workbench);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  /* "BLED" 16,
  "SCAN" -33; */
  "BLED" 0,
  "SCAN" -53;
}



button:hover {
  animation: shake3856 0.3s linear infinite both;
 }
 
 @keyframes shake3856 {
  0% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 
  20% {
   -webkit-transform: translate(-2px, 2px);
   transform: translate(-2px, 2px);
  }
 
  40% {
   -webkit-transform: translate(-2px, -2px);
   transform: translate(-2px, -2px);
  }
 
  60% {
   -webkit-transform: translate(2px, 2px);
   transform: translate(2px, 2px);
  }
 
  80% {
   -webkit-transform: translate(2px, -2px);
   transform: translate(2px, -2px);
  }
 
  100% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 }
 